@model List<ContactInfoListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Admin/Default/Index">Home</a></li>
                    <li class="breadcrumb-item active">ContactInfoList</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h4 class="ContactInfod-title">Contact Info List</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a href="/Admin/ContactInfo/CreateContactInfo" class="btn btn-primary btn-rounded waves-effect waves-light">
                        <i class="mdi mdi-gamepad-round"></i>  New Contact Info
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <p class="ContactInfod-subtitle mb-4">
                        You can perform operations such as adding, deleting, updating and listing on this page.
                    </p>
                </div>

            </div>
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Icon</th>
                            <th>Url</th>
                            <th>Url Text</th>
                            <th>Aksiyon</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count == 0)
                            {
                                <div class="alert alert-secondary" role="alert">
                                    No data found.
                                </div>
                            }
                            else
                            {
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Title</td>                                      
                                        <td><i class="@item.Icon"></i></td>
                                        <td>@item.Url</td>
                                        <td>@item.UrlText</td>
                                        <td>

                                            <a href="/Admin/ContactInfo/UpdateContactInfo/@item.ContactInfoId" class="btn btn-warning btn-rounded waves-effect waves-light">
                                                <i class="mdi mdi-update"></i>  Update
                                            </a>

                                            <a href="/Admin/ContactInfo/DeleteContactInfo/@item.ContactInfoId" class="btn btn-danger btn-rounded waves-effect waves-light">
                                                <i class="mdi mdi-delete-forever"></i>  Delete
                                            </a>
                                        </td>

                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end ContactInfod-body-->
    </div>
    <!-- end ContactInfod -->
</div>